#accediForm{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

/* a{
    color: #ff3399;
    font-size:50px; 
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
} */

.buttonNeon {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 15px 25px;
    font-size: 30px;
    letter-spacing:5px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;

  }
  
  .buttonNeon:hover {
    color: black;
    background-color: #db3eb1;
    filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
  }